@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Randell Fields
   Date: 12/1/2024
   
   Filename: ss_layout.css
*/

/* Article Styles */
article {
   float: left;
   width: 384px;
}

article p:first-of-type::first-line {
   font-size: 1.25em;
   font-variant: small-caps;
}

article p:first-of-type::first-letter {
   font-size: 4em;
   font-family: serif;
   float: left;
   line-height: 0.8em;
   margin-right: 5px;
   margin-bottom: 5px;
}

/* Aside Styles */
aside {
   float: left;
   width: 768px;
}

/* Map Styles */
#battleMap {
   width: 688px;
   position: relative;
}

#mapImage {
   width: 100%;
}

a.battleMarkers {
   position: absolute;
}

#marker1 { top: 220px; left: 340px; }
#marker2 { top: 194px; left: 358px; }
#marker3 { top: 202px; left: 400px; }
#marker4 { top: 217px; left: 452px; }
#marker5 { top: 229px; left: 498px; }
#marker6 { top: 246px; left: 544px; }

div.mapInfo {
   display: none;
   background-color: rgba(255, 0, 0, 0.8);
   padding: 10px;
   border-radius: 5px;
   position: absolute;
}

a.battleMarkers:hover + div.mapInfo {
   display: block;
}
