@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for the Layout of the Pandaisia Chocolates Home Page
   Author: Randell Fields
   Date:   12/1/2024
   
   Filename: pc_home.css
*/

/* Body Styles */
body {
   margin-left: auto;
   margin-right: auto;
   max-width: 960px;
   min-width: 640px;
   width: 95%;
   margin: 0 auto; /* Centers the page horizontally */
   
}

/* Body Header Styles */
header img {
   display: block;
   width: 100%;
}

/* Left Column Styles */
section#leftColumn {
   clear: left;      /* Ensures it clears previously floated elements */
   float: left;      /* Floats the column to the left margin */
   width: 33%;       /* Sets the column width to 33% of the body width */
}

/* Right Column Styles */
section#rightColumn {
   float: left;      /* Floats the column alongside the left column */
   width: 67%;       /* Sets the column width to 67% of the body width */
}

section#rightColumn img {
   display: block;   /* Displays images as block elements */
   width: 100%;      /* Sets image width to match the parent element */
}

section#rightColumn > nav.horizontalNavigation li {
   width: 25%;       /* Sets list items to 25% of the width of the navigation list */
   float: left;      /* Floats each item to align them horizontally */
   text-align: center; /* Centers the text and image within the list item */
}

/* Footer Styles */
footer {
   clear: left; /* Ensures footer appears below floated elements */
   background-color: rgb(71, 52, 29); /* Dark brown background */
}

footer > nav.verticalNavigation {
   float: left;
   width: 22%; /* Each navigation list takes 22% of the footer width */
}

footer > section#contactInfo {
   float: left;
   width: 34%; /* Contact info section takes 34% of the footer width */
}



